@media screen and (max-width: 700px) {
    
    .filme-principal .descricao {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .titulo {
        font-size: 25px;
    }
    
    .botao {
        margin-top: 5px;
    }
}


@media screen and (max-width: 650px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .descricao {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .titulo {
        font-size: 30px;
    }

    .botao {
        margin-top: 5px;
    }

}

@media screen and (max-width: 500px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal {
        height: 450px;
    }

    .filme-principal .descricao {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .titulo {
        font-size: 25px;
    }

    .botao {
        margin-top: 5px;
    }

}


@media screen and (max-width: 380px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal {
        height: 450px;
    }

    .filme-principal .descricao {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }

    .botao {
        margin-top: 5px;
        padding: 8px 15px;
    }

}

